In [1]:
import numpy as np
import pandas as pd

In [2]:
subName = "contiPositiveAge"
data = pd.read_csv("./data/totalData{}.csv".format(subName)).iloc[:, 1:]

In [3]:
data

,T,Age,AgeTag,Sex,yo1,yo1CF,y1,y1CF,yo2,yo2CF,y2,y2CF,yo3,yo3CF,y3,y3CF
0,1.0,0.28,-1.0,1.0,195.0,-65.0,199.966616,-72.963256,139.2,69.2,140.091105,66.638198,139.2,16.0,129.987863,19.166564
1,1.0,0.14,-1.0,1.0,195.0,-65.0,188.534435,-57.193869,119.6,49.6,121.403808,46.406782,119.6,23.0,127.079184,19.969171
2,-1.0,0.70,1.0,-1.0,-5.0,-125.0,-9.382402,-128.791270,-135.0,-65.0,-136.436100,-75.735351,-135.0,68.0,-140.986203,68.859754
3,1.0,0.04,-1.0,-1.0,-125.0,-5.0,-125.697061,-1.522448,-32.0,-102.0,-18.223095,-99.601897,-24.4,-102.0,-30.161104,-108.893942
4,1.0,0.18,-1.0,-1.0,-125.0,-5.0,-118.179846,-5.754429,-39.0,-109.0,-38.967583,-110.765390,-4.8,-109.0,2.005894,-106.929829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.0,0.98,1.0,-1.0,-5.0,-125.0,-7.057795,-130.890330,-149.0,-79.0,-145.511445,-72.952934,-149.0,107.2,-148.429670,103.788289
996,1.0,0.08,-1.0,-1.0,-125.0,-5.0,-123.763853,2.148185,-34.0,-104.0,-34.648330,-107.626314,-18.8,-104.0,-29.520529,-107.023702
997,1.0,0.08,-1.0,1.0,195.0,-65.0,190.409335,-71.021671,111.2,41.2,112.865682,39.057151,111.2,26.0,119.830089,23.074255
998,1.0,0.40,-1.0,1.0,195.0,-65.0,191.676938,-64.637119,156.0,86.0,155.196624,76.073283,156.0,10.0,157.932497,15.167533
999,1.0,0.12,-1.0,1.0,195.0,-65.0,189.758298,-68.864876,116.8,46.8,123.302648,43.900337,116.8,24.0,106.698258,28.196214

In [4]:
artData = data.copy(deep=True)

In [5]:
yType = 2
t1 = artData['y{}'.format(yType)][(artData['T'] == 1)]
t0 = artData['y{}'.format(yType)][(artData['T'] == -1)]
s1 = artData['y{}'.format(yType)][(artData['Sex'] == 1)]
s0 = artData['y{}'.format(yType)][(artData['Sex'] == -1)]
o  = artData['y{}'.format(yType)][(artData['AgeTag'] == 1)]
y  = artData['y{}'.format(yType)][(artData['AgeTag'] == -1)]
t1s1o = artData['y{}'.format(yType)][(artData['T'] == 1) * (artData['Sex'] == 1) * (artData['AgeTag'] == 1)]
t1s1y = artData['y{}'.format(yType)][(artData['T'] == 1) * (artData['Sex'] == 1) * (artData['AgeTag'] == -1)]
t1s0o = artData['y{}'.format(yType)][(artData['T'] == 1) * (artData['Sex'] == -1) * (artData['AgeTag'] == 1)]
t1s0y = artData['y{}'.format(yType)][(artData['T'] == 1) * (artData['Sex'] == -1) * (artData['AgeTag'] == -1)]
t0s1o = artData['y{}'.format(yType)][(artData['T'] == -1) * (artData['Sex'] == 1) * (artData['AgeTag'] == 1)]
t0s1y = artData['y{}'.format(yType)][(artData['T'] == -1) * (artData['Sex'] == 1) * (artData['AgeTag'] == -1)]
t0s0o = artData['y{}'.format(yType)][(artData['T'] == -1) * (artData['Sex'] == -1) * (artData['AgeTag'] == 1)]
t0s0y = artData['y{}'.format(yType)][(artData['T'] == -1) * (artData['Sex'] == -1) * (artData['AgeTag'] == -1)]
print([len(x) for x in [t0s0y, t0s0o, t1s0y, t1s0o]])
print([len(x) for x in [t0s1y, t0s1o, t1s1y, t1s1o]])

[3, 247, 247, 3]
[3, 247, 247, 3]

In [6]:
t1s1oArt = t1s1o - np.mean(t1) - np.mean(s1) - np.mean(o) # 3
t1s1yArt = t1s1y - np.mean(t1) - np.mean(s1) - np.mean(y) # 247
t1s0oArt = t1s0o - np.mean(t1) - np.mean(s0) - np.mean(o) # 3
t1s0yArt = t1s0y - np.mean(t1) - np.mean(s0) - np.mean(y) # 247
t0s1oArt = t0s1o - np.mean(t0) - np.mean(s1) - np.mean(o) # 247
t0s1yArt = t0s1y - np.mean(t0) - np.mean(s1) - np.mean(y) # 3
t0s0oArt = t0s0o - np.mean(t0) - np.mean(s0) - np.mean(o) # 247
t0s0yArt = t0s0y - np.mean(t0) - np.mean(s0) - np.mean(y) # 3

In [7]:
from scipy.stats import rankdata
total = np.hstack((t1s1oArt, t1s1yArt, t1s0oArt, t1s0yArt, t0s1oArt, t0s1yArt, t0s0oArt, t0s0yArt))
rank = rankdata(total)

In [8]:
t1s1oRank = rank[:3]
t1s1yRank = rank[3:250]
t1s0oRank = rank[250:253]
t1s0yRank = rank[253:500]
t0s1oRank = rank[500:747]
t0s1yRank = rank[747:750]
t0s0oRank = rank[750:993]
t0s0yRank = rank[993:]
print([len(x) for x in [t1s1oRank, t1s1yRank, t1s0oRank, t1s0yRank, t0s1oRank, t0s1yRank, t0s0oRank, t0s0yRank]])

[3, 247, 3, 247, 247, 3, 243, 7]

In [9]:
age = []
sex = []
treatment = []
for i in [t1s1oArt, t1s1yArt, t1s0oArt, t1s0yArt, t0s1oArt, t0s1yArt, t0s0oArt, t0s0yArt]:
    age += list(data['Age'][i.index])
    sex += list(data['Sex'][i.index])
    treatment += list(data['T'][i.index])
age = [round(x, 2) for x in age]

In [11]:
dat = {'age':age,'sex':sex,'treatment':treatment,'output':rank}
df = pd.DataFrame(dat)
import statsmodels.api as sm
from statsmodels.formula.api import ols
mod = ols('output ~ age*sex*treatment', data = df).fit()
sm.stats.anova_lm(mod, typ = 2)

                         sum_sq     df            F         PR(>F)
age                1.112710e+02    1.0     0.013977   9.059129e-01
sex                1.684344e+02    1.0     0.021158   8.843793e-01
age:sex            1.089403e+07    1.0  1368.451372  6.107763e-189
treatment          8.563516e+06    1.0  1075.704372  2.150754e-160
age:treatment      4.940910e+02    1.0     0.062065   8.033128e-01
sex:treatment      1.431005e+05    1.0    17.975543   2.446547e-05
age:sex:treatment  3.578135e+03    1.0     0.449467   5.027444e-01
Residual           7.897158e+06  992.0          NaN            NaN